@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --black: #2e2e2e;
  --white: #fefefe;

  --fuego-50: #fafce9;
  --fuego-100: #f4f8cf;
  --fuego-200: #e8f1a5;
  --fuego-300: #d5e571;
  --fuego-400: #c2d84c;
  --fuego-500: #a2bc26;
  --fuego-600: #7e961a;
  --fuego-700: #607219;
  --fuego-800: #4d5b19;
  --fuego-900: #414d1a;
  --fuego-950: #212a09;

  /* Design tokens light mode */
  /* --background: var(--white);
  --foreground: var(--black); */
  --radius: 0.625rem;
  --background: deeppink; /* oklch(1 0 0); */
  --foreground: var(--black);
  --card: deeppink; /* oklch(1 0 0); */
  --card-foreground: deeppink; /* oklch(0.145 0 0); */
  --popover: var(--white);
  --popover-foreground: var(--black);
  --primary: var(--color-fuego-900);
  --primary-foreground: var(--color-fuego-800);
  --secondary: deeppink; /* oklch(0.97 0 0); */
  --secondary-foreground: deeppink; /* oklch(0.205 0 0); */
  --muted: deeppink; /* oklch(0.97 0 0); */
  --muted-foreground: oklch(0.556 0 0);
  --accent: var(--fuego-50);
  --accent-foreground: var(--fuego-950);
  --destructive: var(--color-rose-600);
  --border: var(--color-neutral-100);
  --input: deeppink; /* oklch(0.922 0 0); */
  --ring: var(--color-fuego-600); /* oklch(0.708 0 0); */
  --chart-1: deeppink; /* oklch(0.646 0.222 41.116); */
  --chart-2: deeppink; /* oklch(0.6 0.118 184.704); */
  --chart-3: deeppink; /* oklch(0.398 0.07 227.392); */
  --chart-4: deeppink; /* oklch(0.828 0.189 84.429); */
  --chart-5: deeppink; /* oklch(0.769 0.188 70.08); */
  --sidebar: deeppink; /* oklch(0.985 0 0); */
  --sidebar-foreground: deeppink; /* oklch(0.145 0 0) */
  --sidebar-primary: deeppink; /* oklch(0.205 0 0) */
  --sidebar-primary-foreground: deeppink; /* oklch(0.985 0 0) */
  --sidebar-accent: deeppink; /* oklch(0.97 0 0) */
  --sidebar-accent-foreground: deeppink; /* oklch(0.205 0 0) */
  --sidebar-border: deeppink; /* oklch(0.922 0 0) */
  --sidebar-ring: deeppink; /* oklch(0.708 0 0) */
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */

  --color-fuego-50: #fafce9;
  --color-fuego-100: #f4f8cf;
  --color-fuego-200: #e8f1a5;
  --color-fuego-300: #d5e571;
  --color-fuego-400: #c2d84c;
  --color-fuego-500: #a2bc26;
  --color-fuego-600: #7e961a;
  --color-fuego-700: #607219;
  --color-fuego-800: #4d5b19;
  --color-fuego-900: #414d1a;
  --color-fuego-950: #212a09;

  --font-sans: var(--font-inter-sans);
  --font-serif: var(--font-bricolage-grotesque);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black);
    --foreground: var(--white);
  }
} */

body {
  /* background: var(--white);
  color: var(--black); */
  font-family:
    var(--font-inter-sans),
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    Adwaita Sans,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    helvetica,
    arial,
    sans-serif;
}

/* .dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: var(--fuego-100);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
} */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
